body{
    background-color: #dcdcdc;
}

.bi-eye-fill, .bi-eye-slash-fill{
    position: absolute;
    left: 80%;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
}

.tela_email{
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    transform: translateX(-50%);
}

.title{
    background-color: #004286;
    position: relative;
    left: 50%;
    top: -20px;
    z-index: 1;
    transform: translateX(-50%);
    height: 50px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

img{
    width: 150px;
}

.disp_nivel{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    column-gap: 15px;
}

.div_nivel{
    width: 170px;
    border-radius: 10px;
}

.internal_div{
    width: 0%;
    height: 100%;
    background-color: white;
    transition: all 1s ease-in-out;
    border-radius: 10px;
}

@media only screen and ( max-width : 600px ){
    .tela_email{
        top: 22%;
        width: 100%;
    }
}

input{
    border-radius: 10px;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}