*{
    font-family: "Arial";
}

/* Estilização elementos do header */
header{
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    /* height: 60px; */
    background-color: #0d57a1;    
}

a{
    text-decoration: none;
    color: black;
}

/* - Caixa de pesquisa header e seu botão */
.logo_header{
    position: absolute;
    left: 5%;
    top: 7px;
    width: 55px;
    height: 50px;
}

.ex{
    cursor: pointer;
    position: absolute;
    left: 83%;
    font-size: 25px;
}

.div_pesq{
    position: fixed;
    font-size: 15px;
    top: 14px;
    left: 48%;
    display: flex;
}

.txt_pesq{
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn_pesq{
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.user_img{
    position: fixed;
    cursor: pointer; 
    top: 7px;
    right: 4%;
    width: 53px;
    height: 50px;
    border-radius: 50%;
}

/* elementos header */
.est_links{
    color: white;
}

.est_links:hover{
    color: grey;
}


/* ---tela de login--- */
.tela_login{
    transition: all 1s ease-in-out;
    overflow: hidden;
    position: absolute;
    right: 4%;
    top: 62px;
    height: 0%;
    width: 140px;
    text-align: left;
    opacity: 0;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
}

.links-log{
    color: grey;
    text-decoration: none;
}

.links-log:hover{
    color: black;
}

/* tela de login */

/* ---conteudo index--- */

.inx{
    position: absolute;
    top: 65px;
}

.tags_main{
    display: flex;
    column-gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.sel{
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ic_inx{
    font-size: 27px;
}

.col-3{
    height: 100vh;
}

.col{
    height: 100vh;
    min-height: 100vh;
    overflow: scroll;
}

.resp{
    position: fixed;
    bottom: 30px;
}

.rod{
    position: fixed;
    display: flex;
    left: 30px;
    column-gap: 55%;
    font-size: 25px;
    bottom: 0px;
    cursor: pointer;
}

/*Elementos dos cards eventos*/
.events{
    display: flex;
    height: 160px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.dia{
    top: 20%;
    position: relative;
    left: 4%;
}

.txt_tit{
    position: relative;
    top: 15%;
    display: inline-flex;
    width: 67%;
}

.tit_pos{
    position: relative;
    left: -100px;
}

.txt_event{
    position: relative;
    top: 25%;
    right: 250px;
    height: 50%;
    width: 500px;
    word-wrap: break-word;
}

.btn_fav{
    position: absolute;
    top: -10%;
    left: 70%;
    height: 45px;
    width: 60px;
    border: none
}

.ex2{
    font-size: 18px;
    color: white;
}

.btn_x{
    position: absolute;
    top: 20%;
    left: 70%;
    height: 35px;
    width: 60px;
    border-radius: 7px;
}

.btn_atrasado{
    position: absolute;
    top: 50%;
    left: 67%;
    height: 35px;
    border-radius: 7px;
}

.fav_icon{
    font-size: 25px;
}

.img{
    position: relative;
    top: 9.5%;
    width: 170px;
    height: 130px;
    border-radius: 10px;
}
/* conteudo index */