/* elementos da tela primaria */
.tela_login{
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    text-align: center;
    width: 35%;
    height: 450px;
    opacity: 1;
    border-radius: 10px;
    background-color: white;
}

legend{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: #004286;
}

.txt_boxes{
    width: 70%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.con1{
    z-index: 1;
    opacity: 1;
    display: flexbox;
}

.con2{
    z-index: 0;
    display: flexbox;
}

/* Elementos da tela secundaria */
.tela_login_2{
    display: none;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    width: 35%;
    height: 450px;
    border-radius: 10px;
    background-color: white;
}

.user_img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.bi-eye-fill, .bi-eye-slash-fill{
    position: absolute;
    cursor: pointer;
    top: 51%;
    left: 76%;
    font-size: 20px;
}